@model JF.Cloudmarks.Modules.ViewModels.Manage.SetPasswordViewModel
@{
    ViewBag.Title = "Create local login";
}

<h2 class="ui header">
	<i class="lock icon"></i>
	<div class="content">
		@ViewBag.Title
		<div class="sub header">
			Add a local account so you can log in without an external login.
		</div>
	</div>
</h2>

<div class="ui segment">
	@using ( Html.BeginForm( "SetPassword" , "Manage" , FormMethod.Post , new { @class = "ui form" } ) ) {
		@Html.AntiForgeryToken()

		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				@Html.PasswordFor( m => m.NewPassword , new { placeholder = "Password" } )
			</div>
		</div>

		<div class="field">
			<div class="ui left icon input">
				<i class="lock icon"></i>
				@Html.PasswordFor( m => m.ConfirmPassword , new { placeholder = "Confirm Password" } )
			</div>
		</div>

		<button type="submit" class="ui fluid large submit button">Set password</button>
	}
</div>