@using Microsoft.Owin.Security
@model JF.Cloudmarks.Modules.ViewModels.Account.ExternalLoginListViewModel

@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

	using ( Html.BeginForm( "ExternalLogin" , "Account" , new {Model.ReturnUrl} ) ) {
		@Html.AntiForgeryToken()
		<div id="socialLoginList">
			@foreach ( var provider in loginProviders ) {
				var icon = provider.AuthenticationType.ToLower();

				if ( icon == "google" ) {
					icon = "google plus";
				}

				if ( icon == "microsoft" ) {
					icon = "windows";
				}

				<p>
					<button type="submit" class="ui large @icon button" name="provider" value="@provider.AuthenticationType">
						<i class="@icon icon"></i>

						Log in with @provider.AuthenticationType
					</button>
				</p>
			}
		</div>
	}
}