@using Microsoft.AspNet.Identity
@if ( Request.IsAuthenticated ) {
	using ( Html.BeginForm( "LogOff" , "Account" , FormMethod.Post , new { id = "logoutForm" , @class = "right menu" } ) ) {
		@Html.AntiForgeryToken()

		@Html.ActionLink( User.Identity.GetUserName() , "Index" , "Manage" , null , new {@class = "item" } )
		<a class="item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
	}
}
